<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .status {
                color: #fff;
                display: inline-block;
                border-radius: 4px;
                padding: 2px 4px;
            }

            .s1 {background-color: pink;}
            .s2 {background-color: aqua;}
            .s3 {background-color: gold;}
            .s4 {background-color: orange;}
        </style>
    </head>
    <body>
        <h1>Page2</h1>
        <hr>
        <div th:switch="${status}">
            <div th:case="s1" class="status s1">狀態1</div>
            <div th:case="s2" class="status s2">狀態2</div>
            <div th:case="s3" class="status s3">狀態3</div>
            <div th:case="s4" class="status s4">狀態4</div>
        </div>
    </body>
</html>