<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Page3</h1>
        <hr>
        <form action="">
            <div>
                <label >Email</label>
                <input type="text" required="required"></input>
                <span>Email錯誤訊息</span>
            </div>
            <div>
                <label >Password</label>
                <input type="password" required="required"></input>
                <span>Password錯誤訊息</span>
            </div>
            <div>
                <label >Name</label>
                <input type="text" required="required"></input>
                <span>Name錯誤訊息</span>
            </div>
            <button type="submit">Register</button>
        </form>
    </body>
</html>