<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Page3</h1>
        <hr>
        <form method="post" th:object="${userForm}" th:action="@{/page3}">
            <div>
                <label >Email</label>
                <input th:field="*{email}" type="text" required="required"></input>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email錯誤訊息</span>
            </div>
            <div>
                <label >Password</label>
                <input th:field="*{pwd}" type="password" required="required"></input>
                <span th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">Password錯誤訊息</span>
            </div>
            <div>
                <label >Name</label>
                <input th:field="*{name}" type="text" required="required"></input>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name錯誤訊息</span>
            </div>
            <button type="submit">Register</button>
        </form>
    </body>
</html>