<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Register Page</h1>
        <hr>
        <form method="post" enctype="multipart/form-data" 
            th:action="@{/member/register}"
            th:object="${memberForm}">
            <div>
                <label >帳號</label>
                <input th:field="*{email}">
            </div>
            <div>
                <label >密碼</label>
                <input type="password" th:field="*{pwd}">
            </div>
            <div>
                <label >姓名</label>
                <input th:field="*{name}">
            </div>
            <div>
                <label >頭像</label>
                <input type="file" th:field="*{iconFile}">
            </div>
            <button type="submit">Register</button>
        </form>
        <div>Error Message</div>
    </body>
</html>