<!DOCTYPE html>
<html xmlna:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org./extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <hr>
        <form th:action="@{/logout}" method="post">
            <button type="submit">登出</button>
        </form>
        <hr>
        <div>登入帳號: <span sec:authentication="name"></span></div>
        <div>登入角色: <span sec:authentication="principal.authorities"></span></div>
        <hr>
        <a th:href="@{/main}">Back 2 Main</a>
    </body>
</html>