<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
	
	<!-- 全域參數 -->
	<context-param>
		<param-name>key</param-name>
		<param-value>value</param-value>
	</context-param>
	
	<!-- Listener -->
	<listener>
		<listener-class>tw.brad.listener.InitListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Brad04</servlet-name>
		<servlet-class>tw.brad.servlet.Brad04</servlet-class>
		<load-on-startup>1</load-on-startup>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Brad04</servlet-name>
		<url-pattern>Brad04</url-pattern>
	</servlet-mapping>
</web-app>